<html>
    <head>
        <title>Minesweeper</title>
        <script type='module'> import * as library from './static/__target__/clientlibrary.js'; window.library = library; window.gameState = library.GameState(parseInt('{{height}}'), parseInt('{{width}}'), 0.1); window.boardUI = library.BoardUI(gameState)</script>
    </head>
    
    <body>
        <h1 id='title' onclick=>Welcome to Minesweeper</h1>
        <p>
        	Let's play Minesweeper!
        </p>
        <div id = "gameContainer">
            
        </div>
        
    </body>
</html>
